*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body{
    height: 100vh;
    background: linear-gradient(140deg, #c59cff, #7e5bfb); 
}

.wrapper{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: flex;
    gap: 1em;
    background-color: whitesmoke;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 0 2.5em 3.75em rgba(30, 20, 70, 0.25);
}

.container, .rules{
    width: 19em;
    height: 23em;
    position: relative;
}

.input-group{
    display: grid;
    width: 100%;
    grid-template-columns: auto auto auto auto auto;
    column-gap: 0.2em;
    margin: 0.2em 0;
}

.input-box{
    font-size: 2em;
    width: 1.7em;
    height: 1.7em;
    text-align: center;
    display: block;
    border: 1px solid black;
    line-height: 1;
    font-weight: 600;
    text-transform: uppercase;
}